<table class="dictionary_table">
  <tr class="title_string">
    <td>
      Наименование
    </td>
  </tr>
  <% for military_rank in @military_ranks %>
    <tr>
      <td>
        <%= military_rank.name %>
      </td>
      <td>
        <%= button_to("удалить", {:controller => '/admin/dictonary/military_rank', :action => 'destroy', :id => military_rank.id}, :class => "tool_button")%>
      </td>
      <td>
        <%= button_to("изменить", {:controller => '/admin/dictonary/military_rank', :action => 'edit', :id => military_rank.id}, :class => "tool_button", :method => :get)%>
      </td>
    <tr>
  <% end %>
  <tr>
    <td>
      <%= button_to("добавить", {:controller => '/admin/dictonary/military_rank', :action => 'new'}, :class => "admin_button small", :method => :get) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to("назад", { :controller => '/admin/dictonary', :action => 'index' }, :class => "return_link") %>
    </td>
  </tr>
</table>

